<mat-toolbar color="primary" *ngIf="isLoggedIn$ | async as isLoggedIn">
  <span>
    <img src="assets/img/angular_whiteTransparent.svg" class="angular-logo">
    Sistema Académico UNMSM
  </span>
  <span class="fill-remaining-space"></span>
  <button mat-button routerLink="dashboard" > <mat-icon>home</mat-icon> </button>  
  <button mat-button routerLink="student/list">Student</button>    
  <button mat-button (click)="onLogout()" *ngIf="isLoggedIn">Logout</button>
</mat-toolbar>
<div class="signin-content" *ngIf="isLoggedIn$ | async as isLoggedIn">
    <mat-card>
        <mat-card-content>
              Bienvenido a la UNMSM
      </mat-card-content>
  </mat-card>
</div>


